.haohuojingxuan {
	width: 1200px;
	/*height: 800px;*/
	background-color: white;
	margin: 0 auto;
	margin-top: 10px;
}

.haohuojingxuan .item {
	width: 388px;
	height: 200px;
	overflow: hidden;
	background-color: white;
	float: left;
	border: 1px solid #F1F1F1;
	margin-right: 10px;
	margin-top: 10px;
}

.haohuojingxuan .item:hover {
	opacity: 0.8;
	border: 1px solid #F01A61;
}

.haohuojingxuan .item a {
	color: #666666;
	text-decoration: none;
}
.haohuojingxuan .item .biaoti{
	width: 188px;
	height: 28px;
	/*background-color: darkcyan;*/
	margin-left: 5px;
	line-height: 40px;
	margin-top: 30px;
	}
.haohuojingxuan .item .biaoti:hover {
	color: #F01A61;
}

.haohuojingxuan .item0 {
	width: 200px;
	height: 200px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

.haohuojingxuan .item0 img {
	width: 100%;
	height: 100%;
}

.haohuojingxuan .item1 {
	width: 188px;
	height: 200px;
	margin-left: 0px;
	margin-top: 0px;
	float: left;
}

.item2{
	width: 188px;
	height: 20px;
	line-height: 20px;
	text-align: left;
	margin-left: 5px;
	font-size: 12px;
}
.haohuojingxuan .item1 .xian {
	width: 100px;
	height: 30px;
	margin-left: 5px;
	color: #FF0100;
	margin-left: 0px;
	font-size: 20px;
	text-align: left;
	margin-top: -2px;
	float: left;
}

.haohuojingxuan .item1 .yuan {
	width: 80px;
	height: 20px;
	margin-left: 0px;
	font-size: 10px;
	padding-left: 2px;
	text-align: left;
	text-decoration: line-through;
	margin-left: 0px;
	margin-top: 40px;
}

.haohuojingxuan .item1 .yue {
	width: 80px;
	height: 20px;
	text-align: right;
	font-size: 12px;
	margin-right: 0px;
	float: left;
	margin-top: 5px;
	
}

.haohuojingxuan .item * {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.item1 p {
	margin-top: 10px;
}